{% extends 'base.html' %}

{% block title %}Gráficos{% endblock %}

{% block content %}
<div class="centeredContent">
    <h1 class="title">Gráficos das Estações</h1>

    {% if stations %}
        {% for station in stations %}
            <div class="graphCard">
                <h2>{{ station.name }}</h2>
                <p>UUID: {{ station.uuid }}</p>
                <div id="chart-{{ station.id }}" style="width:100%; height:400px;"></div>

                <script>
                    (function() {
                        const categories = JSON.parse('{{ station.categories | tojson | safe }}');
                        const series = JSON.parse('{{ station.series | tojson | safe}}');

                         series = series.map(s => {
                            if (s.name.toLowerCase().includes('temperatura')) {
                                return {
                                    ...s,
                                    type: 'column',
                                    yAxis: 0,
                                    tooltip: { valueSuffix: ' °C' }
                                };
                            } else if (s.name.toLowerCase().includes('umidade')) {
                                return {
                                    ...s,
                                    type: 'spline',
                                    yAxis: 1,
                                    tooltip: { valueSuffix: ' %' }
                                };
                            }
                            return s;
                        });

                        Highcharts.chart('chart-{{ station.id }}', {
                            chart: { zooming: { type: 'xy' } },
                            title: { text: '{{ station.name }}' },
                            xAxis: { categories: categories, crosshair: true},
                            yAxis: [{ 
                                title: { text: 'Temperatura (°C)' },
                                labels: { format: '{value} °C' },
                                lineColor: Highcharts.getOptions().colors[1],
                                lineWidth: 2
                            }, { 
                                title: { text: 'Umidade (%)' },
                                labels: { format: '{value} %' },
                                lineColor: Highcharts.getOptions().colors[0],
                                lineWidth: 2,
                                opposite: true
                            }],
                            tooltip: { shared: true },
                            legend: {
                                align: 'left',
                                verticalAlign: 'top'
                            },
                            credits: { enabled: false },
                            series: series
                        });
                    })();
                </script>

            </div>
        {% endfor %}
    {% else %}
        <p>Nenhum gráfico disponível.</p>
    {% endif %}
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
{% endblock %}
