<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.highcharts.com/highcharts.js"></script>
</head>
<body>
    <div class="container" id="container">
        <script>
            let categorias = JSON.parse('{{ dados["categories"] | tojson | safe }}');
            let series = JSON.parse('{{ dados["series"] | tojson | safe }}');

            Highcharts.chart('container', {
                chart: { type: 'line' },
                title: { text: 'Temperatura e Umidade' },
                xAxis: {
                categories: categorias,
                title: { text: 'Hora' }
                },
                yAxis: {
                title: { text: 'Valores' }
                },
                series: series
            });
        </script> 
    </div>
</body>
</html>