<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - RainTrack</title>
    <link rel="stylesheet" href="../static/styleIndex.css">
</head>
<body>
    <div class="principalTitle">
        <h1 class="title">
            LOGIN
        </h1>
    </div>
    <div class="form">
        <form action="/" method="POST">
            <div class="input">
                <label for="name">Email ou CPF</label> <br>
                <input type="text" name="entrada" id="entrada">
            </div>
            <div class="input">
                <label for="senha">Senha</label> <br>
                <input type="password" name="senha" id="senha">
            </div>
            <div class="submit">
                <input type="submit" value="Entrar">
            </div>
        </form>
    </div>
</body>
</html>