<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - RainTrack</title>
    <link rel="stylesheet" href="../static/styleIndex.css">
    <link rel="icon" type="image/png" href="../static/img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="../static/img/favicon/favicon.svg" />
    <link rel="shortcut icon" href="../static/img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="../static/img/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="../static/img/favicon/site.webmanifest" />
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="../static/img/logoCompleta1.png" alt="RainTrack">
        </div>
        <div class="links">
            <a href="" class="lightBlue medium mediumSize">início</a>
            <a href="" class="lightBlue medium mediumSize">sobre nós</a>
            <a href="" class="lightBlue medium mediumSize">entrar</a>
        </div>
    </div>
    <div class="content">
        <div class="leftContent">
            <div class="formCard">
                <div class="principalTitle">
                    <h1 class="title">
                        CADASTRO
                    </h1>
                </div>
                <div class="form">
                    <form action="/" method="POST">
                        <div class="input">
                            <label for="name">Nome</label> <br>
                            <input type="text" name="nome" required>
                        </div>
                        <div class="input">
                            <label for="email">Email</label> <br>
                            <input type="email" name="email" required>
                        </div>
                        <div class="input">
                            <label for="name">CPF</label> <br>
                            <input type="text" name="cpf" maxlength="11" required>
                        </div>
                        <div class="input">
                            <label for="senha">Senha</label> <br>
                            <input type="password" name="senha" id="senha">
                        </div>
                        <div class="submit">
                            <input type="submit" value="CADASTRAR">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="linha"></div>
        <div class="rightContent">
            <div class="imagemLogin">
                <img src="../static/img/imagemLogin.png" alt="">
            </div>
        </div>
    </div>
    
</body>
</html>