{% extends 'base.html' %}

{% block title %}Cadastro - RainTrack{% endblock %}

{% block content %}
<div class="main-content">
    <div class="leftContent">
    <img src="{{ url_for('static', filename='img/imagemLogin.png') }}" alt="" />
  </div>
  <div class="rightContent">
    <div class="formCard">
      <h1 class="title">CADASTRO</h1>

      <!-- Bloco de erro -->
      {% if error %}
      <div class="error-message">{{ error }}</div>
      {% endif %}

      <form action="/cadastro" method="POST">
        <div class="formInputs">
          <div class="input">
            <label for="name">Nome</label>
            <input type="text" name="name" id="name" required />
          </div>
          <div class="input">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" required />
          </div>
          <div class="input">
            <label for="cpf">CPF</label>
            <input type="text" name="cpf" id="cpf" maxlength="11" required />
          </div>
          <div class="input">
            <label for="password">Senha</label>
            <input type="password" name="password" id="password" required />
          </div>
        </div>
        <div class="submit">
          <input type="submit" value="CADASTRAR" />
          <span>
            <a href="{{ url_for('index') }}">Já possui uma conta? Entre aqui!</a>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}