<div class="sidebar">
  <a href="#" class="logo">
    <i><ion-icon name="cloud"></ion-icon></i>
    <img src="{{ url_for('static', filename='img/logoCompleta1.png') }}" alt="RainTrack" />
  </a>
  <nav class="links">
    <a href="{{ url_for('home') }}">
      <i><ion-icon name="home"></ion-icon></i>
      <span>Início</span>
    </a>

    <a href="#">
      <i><ion-icon name="information-circle"></ion-icon></i>
      <span>Sobre nós</span>
    </a>

    {% if user_name %}
    <a href="{{ url_for('graphs') }}">
      <i><ion-icon name="stats"></ion-icon></i>
      <span>Gráficos</span>
    </a>

    {% if user_role == 1 %}
    <a href="{{ url_for('parameters') }}">
      <i><ion-icon name="albums"></ion-icon></i>
      <span>Parâmetros</span>
    </a>

    <a href="{{ url_for('stations') }}">
      <i><ion-icon name="cellular"></ion-icon></i>
      <span>Estações</span>
    </a>

    <a href="{{ url_for('admin') }}">
      <i><ion-icon name="person"></ion-icon></i>
      <span>Admin</span>
    </a>

    <a href="{{ url_for('users') }}">
      <i><ion-icon name="people"></ion-icon></i>
      <span>Usuários</span>
    </a>
    {% else %}
    <a href="#">
      <i><ion-icon name="person"></ion-icon></i>
      <span>{{ user_name }}</span>
    </a>
    {% endif %}
    {% else %}
    <a href="{{ url_for('index') }}">
      <i><ion-icon name="log-in"></ion-icon></i>
      <span>Entrar</span>
    </a>
    {% endif %}
  </nav>
</div>
