<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Teste Responsivo - RainTrack</title>
  <link rel="stylesheet" href="style.css" />
  <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</head>
<body>

  <!-- Sidebar -->
  <div class="sidebar">
    <a href="#" class="logo">
      <i><ion-icon name="cloud"></ion-icon></i>
      <img src="img/logoCompleta1.png" alt="RainTrack" />
    </a>
    <nav class="links">
      <a href="#">
        <i><ion-icon name="home"></ion-icon></i>
        <span>Início</span>
      </a>
      <a href="#">
        <i><ion-icon name="information-circle"></ion-icon></i>
        <span>Sobre nós</span>
      </a>
      <a href="#">
        <i><ion-icon name="stats"></ion-icon></i>
        <span>Gráficos</span>
      </a>
      <a href="#">
        <i><ion-icon name="albums"></ion-icon></i>
        <span>Parâmetros</span>
      </a>
      <a href="#">
        <i><ion-icon name="cellular"></ion-icon></i>
        <span>Estações</span>
      </a>
      <a href="#">
        <i><ion-icon name="person"></ion-icon></i>
        <span>Admin</span>
      </a>
    </nav>
  </div>

  <!-- Main Content -->
  <div class="container" id="container">
    <div class="main-content">
      <div class="leftContent">
        <div class="formCard">
          <h1 class="title">LOGIN</h1>
          <form class="form">
            <div class="formInputs">
              <div class="input">
                <label for="entry">Email ou CPF</label>
                <input type="text" name="entry" id="entry" required />
              </div>
              <div class="input">
                <label for="password">Senha</label>
                <input type="password" name="password" id="password" required />
              </div>
            </div>
            <div class="submit">
              <input type="submit" value="ENTRAR" />
              <span>
                <a href="#">Entre como convidado</a>
              </span>
            </div>
          </form>
        </div>
      </div>
      <div class="rightContent">
        <img src="img/imagemLogin.png" alt="Imagem de Login" />
      </div>
    </div>
  </div>

</body>
</html>

