@import url('https://fonts.googleapis.com/css2?family=Asap+Condensed:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@media screen and (max-width: 720px) {
    *{
        border: none;
        margin: 0;
        padding: 0;
        font-family: "ROBOTO MONO", sans-serif;
        text-decoration: none;
    }

    body{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    .header{
        width: 100%;
        height: fit-content;
        border: 1px solid black;
        flex-direction: column-reverse;
        display: flex;
    }

    .logo{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .logo img{
        width: 15rem;
    }

    .content{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    
    .firstContent{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .formCard{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .principalTitle{
        display: none;
    }
    
    .form{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: 100%;
        border: 1px solid #0097b2;
    }

    form{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .formInputs{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .input{
        display: flex;
        flex-direction: column;
        color: #0097b2;
    }

    .submit{
        display: flex;
        flex-direction: column;
        
    }

    .input input{
        border-bottom: 2px solid #0097b2;  
    }

    .secondContent{
        display: none;
    }
}